body {
    background-color: #888686;
}

.card {
    background-color: #4b7c69;
}

.post {
    text-decoration: none;
    color: aquamarine;
}

a:hover {
    text-decoration: none;
    color: aquamarine;
}
.green-bg {
    background-color: #4b7c69;
}

.hotpink {
    color: hotpink;
}