<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <main class="container mt-3">
        <form th:action="@{/posts/{id}/edit (id = ${post.id})}" method="post" th:object="${post}">
            <div class="form-group">
                <h3><label for="title">Title</label></h3>
                <input type="text" class="form-control" id="title" name="title" th:value="*{title}" required>
            </div>
            <div class="form-group">
                <h3><label for="body">Body</label></h3>
                <textarea id="body" class="form-control" name="body" th:text="*{body}" rows="4" cols="50" required/>
            </div>
            <button type="submit" class="btn btn-block green-bg">Submit edit</button>
        </form>
    </main>
    <th:block th:include="partials/scripts.html :: scripts"/>
</body>
</html>