<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
    <th:block th:include="partials/styles.html :: styles"></th:block>
</head>
<body>
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <header th:include="partials/header.html :: header"/>
    <form th:action="@{/posts/{id}/edit (id = ${post.id})}" method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="*{title}" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea id="body" class="form-control" name="body" th:text="*{body}" rows="4" cols="50" required/>
        </div>
        <button type="submit" class="btn btn-block btn-info">Submit edit</button>
    </form>
    <footer th:include="partials/footer.html :: footer"/>
    <script th:include="partials/scripts.html :: scripts"></script>
</body>
</html>