<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Individual post</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
    <nav th:replace="partials/navbar.html :: navbar"></nav>

    <h1>Individual post here</h1>

    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.body}"></p>
    <p style="color: hotpink" th:text="${post.user.username}"/>
    <p style="color: hotpink" th:text="${post.user.email}"/>

    <div th:if="${isPostOwner}">
        <form th:action="@{/posts/{id}/edit (id = ${post.id})}" method="get" th:object="${post}">
            <button type="submit" name="editButton" th:value="*{id}">Edit post</button>
        </form>
        <form th:action="@{/posts/{id}/delete (id = ${post.id})}" method="post">
            <button type="submit" name="deleteButton" th:value="*{id}">Delete post</button>
        </form>
    </div>

    <footer th:include="partials/footer.html :: footer"/>
    <th:block th:include="partials/scripts.html :: scripts"/>
</body>
</html>