<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg green-bg">
    <a class="navbar-brand post" href="/posts">Boater Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link hotpink" href="/posts">All Posts <span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="hotpink nav-link" href="/posts/create">Create Post</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn hotpink">Logout</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link hotpink" href="/sign-up">Sign-up</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link hotpink" href="/login">Login</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/posts/search}" method="get">
            <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>